extends master.pug
block content
    h2 Lorem ipsum dolor sit amet
    p Voluptatum neque ipsam laudantium, mollitia quia eius dolorem fugit assumenda cumque recusandae nostrum distinctio soluta explicabo magnam doloremque quo, ea necessitatibus sit?