body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

.alert{
    border-radius: 0px;
    margin: 0;
}
.jumbotron{
    background-image: url('../img/black-coffee-business-cellphone-860379.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .container{
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    color: #000;
    padding-bottom: 20px;
}

